@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
@import "base/reset";
@import "base/variables";

body {
   font-family: $font-family;
   font-size: $fs-md;
   background-color: $neutral-white;

   text-align: left;
   display: flex;
   justify-content: center;
   align-items: center;
}

.container {
   padding: 0 1.5rem;
   margin: 0 auto;
   max-width: 1280px;
}

main {
   outline: 1px solid lightgrey;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 40% 48% 12%;
   background-color: $neutral-white;
   border-radius: 15px;
   overflow: hidden;
}

.hero {
   overflow: hidden;

   img {
      width: 100%;
   }
}

.text {
   padding: 0 2rem;
   letter-spacing: 0.5px;
   align-self: center;

   h3 {
      color: $primary-dark;
      font-weight: 700;
      font-size: $fs-lg;
      margin-bottom: 1rem;
   }

   p {
      color: $primary-light;
      font-weight: 500;
      line-height: 1.5;
   }
}

.profile {
   display: flex;

   justify-content: space-between;
   align-items: center;
   padding: 1rem 2rem;
   position: relative;
   overflow: hidden;

   img {
      width: 2.5rem;
      border-radius: 100%;
      max-width: 100%;
   }

   button {
      padding: 6px;
      border: none;
      border-radius: 100%;
      background-color: hsl(215, 46.2, 94.9);
      z-index: 3;

      &:hover {
         cursor: pointer;
      }

      img {
         width: 18px;
      }
   }

   .avatar {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      span {
         font-weight: 700;
         color: $primary-dark;
      }

      p {
         color: $neutral-light;
      }
   }

   .name {
      margin-left: 0px;
   }
}

// bottom social section

.social {
   display: none;
   position: absolute;
   // overflow: hidden;
   left: 0;

   .social-wrap {
      display: flex;
      justify-content: flex-start;
      background-color: $primary-dark;
      width: 100%;
      padding: 10rem 0;
      padding-left: 2rem;
      padding-right: 100rem;

      p {
         letter-spacing: 5px;
         color: $neutral-light;
         font-weight: 500;
         text-align: center;
         transform: translateY(2px);
         margin-right: 1rem;
      }
   }

   .btn {
      display: flex;
      gap: 10px;
      cursor: pointer;
      img {
         width: 1.4rem;
      }
   }
}

.active {
   display: block;
}

@media (min-width: 768px) {
   .container {
      padding: 0 3rem;
   }

   body {
      font-size: 1.5rem;
   }

   main {
      outline: 1px solid lightgrey;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 50% 40% 10%;
      background-color: $neutral-white;
      border-radius: 15px;
   }

   .profile {
      button {
         padding: 10px;
         img {
            width: 30px;
         }
      }

      .avatar {
         gap: 1.5rem;
         img {
            width: 4rem;
         }
      }
   }

   .text {
      padding: 2rem 3rem;
      h3 {
         font-size: 2rem;
      }
   }

   .social {
      .social-wrap {
         padding-left: 3rem;

         p {
            margin-right: 2rem;
         }
      }

      .btn {
         width: 10rem;
         display: flex;
         gap: 30px;
         cursor: pointer;
         img {
            width: 100%;
         }
      }
   }
}

@media (min-width: 1024px) {
   .container {
      padding: 0 5rem;
   }
   body {
      font-size: 1.75rem;
   }

   .text {
      padding: 2rem 3rem;
      h3 {
         font-size: 2.25rem;
      }
   }

   .social {
      .social-wrap {
         padding-left: 3rem;

         p {
            margin-right: 2rem;
         }
      }

      .btn {
         width: 12rem;
      }
   }
}

@media (min-width: 1280px) {
   body {
      font-size: $fs-lg;
   }

   .container {
      padding: 0 5rem;
      margin: 0 auto;
      max-width: 1280px;
   }

   main {
      display: grid;
      grid-auto-columns: 1fr;
      grid-template-columns: 35% 59%;
      grid-template-rows: 70% 30%;
      grid-template-areas:
         "hero  text"
         "hero profile";
      column-gap: 3rem;
      background-color: $neutral-white;
      overflow: visible;

      .hero {
         padding: 0;
         border-radius: 15px 0 0 15px;

         grid-area: hero;
      }

      .text {
         outline: 1px solid red;
         padding: 0;
         grid-area: text;
         margin-top: 2rem;
         margin-right: 1.5rem;

         h3 {
            font-size: 1.5rem;
         }

         p {
            font-size: 1.15rem;
            max-width: 50ch;
         }
      }

      .profile {
         outline: 1px solid blue;

         padding: 0;
         font-size: 1.1rem;

         grid-area: profile;
         // margin: 1.5rem 0;
         overflow: visible;

         button {
            margin-right: 1.5rem;
            padding: 8px;
            img {
               width: 20px;
            }
         }

         .avatar {
            gap: 1.5rem;
            img {
               width: 3rem;
            }

            .social {
               outline: 1px solid red;
               position: relative;

               max-width: 300px;

               .social-wrap {
                  position: relative;
                  top: -80px;
                  left: 220px;
                  display: flex;
                  justify-content: center;
                  background-color: $primary-dark;
                  padding: 1.25rem 2.5rem;
                  border-radius: 10px;

                  &::after {
                     content: "";
                     // outline: 1px solid red;
                     z-index: 2;
                     width: 53px;

                     position: relative;
                     top: 33px;
                     right: 97px;
                     transform: rotate(45deg);

                     background-color: $primary-dark;
                  }

                  p {
                     letter-spacing: 5px;
                     color: $neutral-light;
                     font-weight: 500;
                     text-align: center;
                     margin-right: 20px;
                  }
               }

               .btn {
                  display: flex;
                  gap: 20px;
                  cursor: pointer;
                  img {
                     width: 26px;
                  }
               }
            }
         }
      }
   }
}
