// primary color
$primary-dark: hsl(217, 19%, 35%);
$primary-light: hsl(214, 17%, 51%);

// neutral color
$neutral-light: hsl(212, 23%, 69%);
$neutral-white: hsl(210, 46%, 95%);

// font family
$font-family: "Manrope", sans-serif;

// font size
$fs-medium: 0.8125rem;
